.git
.github
.idea
.models
.mypy_cache
.pre-commit-cache
.pytest_cache
.ruff_cache
.uv-cache
.venv
.vscode
assets
build
dist
htmlcov
specs

.coverage
.DS_Store
.env
.env.*
!.env.example
*.egg-info
*.log
*.ogg
*.py[cod]
*.wav
__pycache__
